<div class=container>
	<h3>Видео</h3>
	<iframe width="490" height="275" src="https://youtu.be/U0Ukz1wu4iM" frameborder="1" allowfullscreen></iframe>

	<iframe width="490" height="275" src="https://www.youtube.com/watch?v=U0Ukz1wu4iM" frameborder="1" allowfullscreen></iframe>

	<iframe width="490" height="275" src="https://www.youtube.com/embed/IFlNx6TMF04" frameborder="1" allowfullscreen></iframe>
</div>
