.container
  %h3 Видео
  %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/8rZPb-t6mUo", :width => "490"}
  %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/U0Ukz1wu4iM", :width => "490"}
  %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/BH1Ci0J2j5g", :width => "490"}
