@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
	float: left;
}

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
    }
	}
}
 

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
} 

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	
	width: 20%;
  margin: auto;
}
.image {
	float: right;
	width: 40%;
	height: auto; 
}


